@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --default-font-family: 'Inter Variable', 'Noto Sans JP Variable', sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}