---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="min-h-screen bg-slate-50 font-sans text-slate-900 selection:bg-indigo-500/30">
        <div class="fixed inset-0 z-0 bg-slate-50"></div>
        <div class="relative z-10 mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8 lg:py-20">
            <a href="/" class="text-indigo-600 hover:text-indigo-800">
                ← トップに戻る
            </a>
            <h1 class="text-6xl font-bold">About</h1>
            <div class="mt-4 min-w-full prose prose-lg text-slate-700">
                <p>AniNowは今放送しているアニメ、今期のアニメをまとめて確認できるサイトです。</p>
                <h2>情報のソース</h2>
                <p>情報の取得に使用しているサービスは以下のとおりです。</p>
                <h3>Annict</h3>
                <p>放送情報の取得に使用しています。<br /><a href="https://annict.com" target="_blank">公式サイト</a></p>
                <h3>TMDB</h3>
                <img src="/tmdb_logo.svg" alt="TMDb Logo" class="h-5" />
                <p class="text-red-500 font-semibold">この製品は TMDB API を使用していますが、TMDB による承認または認証を受けていません。</p>
                <p>サムネイル画像の取得に使用しています。<br /><a href="https://www.themoviedb.org/" target="_blank">公式サイト</a></p>
                <h2>免責事項</h2>
                <p>AniNowは、当サイトに掲載されている情報について、正確性や完全性を保証するものではありません。当サイトから得られた情報に基づいて生じた損害について、一切の責任を負いません。</p>
                <p>当サイトは、第三者のサービス（Annict、TMDBなど）から情報を取得していますが、これらのサービスの提供する情報の正確性や完全性について保証するものではありません。これらのサービスに関連して生じた損害についても、一切の責任を負いません。</p>
                <p>当サイトは、予告なしに内容の変更やサービスの停止を行うことがあります。これらの変更によって生じた損害についても、一切の責任を負いません。</p>
                <p>ユーザーは、当サイトを利用することにより、上記の免責事項に同意したものとみなされます。</p>
                <h2>開発者</h2>
                <p>samenoko-dayo</p>
                <p>Contact: <a href="https://misskey.io/@ziaenso" target="_blank" class="text-lime-600">Misskey</a></p>
            </div>
        </div>
    </main>
</Layout>
